<!-- PAGE HEADER -->
<header class="page-header">
  <h3>Welcome back<% if current_user.name %>, <%= current_user.name %><% end %>!</h3>
  <h1>Your dashboard</h1>
</header>
<!-- END PAGE HEADER -->


<!-- HELLO MESSAGE -->
<div class="intro large-text">
  <p>Hello<% if current_user.name %>, <%= current_user.name %><% end %>. Here&rsquo;s a look at your progress.</p>
</div>
<!-- END HELLO MESSAGE -->


<!-- ACTIONABLE ITEMS -->
<section class="action-items">
  
  <!-- UPCOMING INTERVIEWS -->
  <% unless @postings_with_upcoming_interviews.empty? %>
    <div class="upcoming-interviews">
      <h3>You have <%= @postings_with_upcoming_interviews.size %> upcoming interviews</h3>
      <p>You get &lsquo;em, tiger!</p>
      <ul>
        <% @postings_with_upcoming_interviews.each do |posting| %>
          <li>
            <i class="icon-bubbles3"><span title="<%= full_datetime(posting.interviews.upcoming.first.datetime) %>"><%= friendly_datetime(posting.interviews.upcoming.first.datetime) %></span></i>
            with 
            <% unless posting.interviews.upcoming.first.interviewer.blank? %> 
              <%= posting.interviews.upcoming.first.interviewer %> at
            <% end %>
            <%= posting.hiring_organization %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- END UPCOMING INTERVIEWS -->

  <!-- APPLICATION NEEDED -->
  <% unless @postings_needing_application.empty? %>
    <div class="application-needed">
      <h3>You have <%= @postings_needing_application.size %> jobs to apply for</h3>
      <p>What are you waiting for? Start sending out applications today!</p>
      <ul>
        <% @postings_needing_application.each do |posting| %>
          <li>
            <%= link_to posting do %>
              <%= posting.title %> at <%= posting.hiring_organization %> (Deadline <%= posting.deadline %>)
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- END APPLICATION NEEDED -->

  <!-- FOLLOW-UP NEEDED -->
  <% unless @postings_needing_followup.empty? %>
  <div class="followup-needed">
    <h3>You need to send <%= @postings_needing_followup.size %> follow-up messages.</h3>
    <p>Let&rsquo;s get going, mister and/or missy!</p>
  </div>
  <% end %>
  <!-- END FOLLOWUP NEEDED -->

</section>
<!-- END ACTIONABLE ITEMS -->


<!-- LOGOUT IN FOOTER (FOR NOW) -->
<footer class="logout">
  <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
</footer>
<!-- END FOOTER -->
