<!-- PAGE HEADER -->
<header class="page-header">
  <h3>Welcome back<% if current_user.name %>, <%= current_user.name %><% end %>!</h3>
  <h1>Your dashboard</h1>
</header>
<!-- END PAGE HEADER -->

<div class="main-content">
  <!-- ACTIONABLE ITEMS -->
  <section class="action-items">

    <!-- OFFERS -->
    <% unless @postings_with_offers.empty? %>
      <div class="job-offers">
        <h3>You have <%= @postings_with_offers.size %> <%= "job offer".pluralize(@postings_with_offers.size) %></h3>
        <p>Way to go, champ!</p>
        <ul>
          <% @postings_with_offers.each do |posting| %>
            <li>
              <%= link_to posting do %>
                <i class="icon-coin"><span><%= posting.offer.salary %></span></i>
                <%= posting.title %> <em>at</em> <%= posting.hiring_organization %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- END OFFERS -->

    <!-- UPCOMING INTERVIEWS -->
    <% unless @postings_with_upcoming_interviews.empty? %>
      <div class="upcoming-interviews">
        <h3>You have <%= @postings_with_upcoming_interviews.size %> upcoming <%= "interview".pluralize(@postings_with_upcoming_interviews.size) %></h3>
        <p>You get &lsquo;em, tiger!</p>
        <ul>
          <% @postings_with_upcoming_interviews.each do |posting| %>
            <li>
              <%= link_to posting do %>
                <i class="icon-bubbles3"><span title="<%= full_datetime(posting.interviews.upcoming.first.datetime) %>"><%= friendly_datetime(posting.interviews.upcoming.first.datetime) %></span></i>

                <% unless posting.interviews.upcoming.first.interviewer.blank? %>
                  <%= posting.interviews.upcoming.first.interviewer %> <em>at</em>
                <% end %>

                <%= posting.hiring_organization %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- END UPCOMING INTERVIEWS -->

    <!-- APPLICATION NEEDED -->
    <% unless @postings_needing_application.empty? %>
      <div class="application-needed">
        <h3>You have <%= @postings_needing_application.size %> <%= "job".pluralize(@postings_needing_application.size) %> to apply for</h3>
        <p>What are you waiting for? Start sending out applications today!</p>
        <ul>
          <% @postings_needing_application.each do |posting| %>
            <li>
              <%= link_to posting do %>
                <% if posting.deadline %>
                  <i class="icon-clock"><span><%= friendly_datetime(posting.deadline) %></span></i>
                <% else %>
                  <i class="icon-circle-blank no-deadline"><span>No deadline</span></i>
                <% end %>
                <%= posting.title %> <em>at</em> <%= posting.hiring_organization %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- END APPLICATION NEEDED -->

    <!-- FOLLOW-UP NEEDED -->
    <% unless @postings_needing_followup.empty? %>
    <div class="followup-needed">
      <h3>You need to send <%= @postings_needing_followup.size %> follow-up <%= "message".pluralize(@postings_needing_followup.size) %>.</h3>
      <p>Let&rsquo;s get going, mister and/or missy!</p>
    </div>
    <% end %>
    <!-- END FOLLOWUP NEEDED -->

  </section>
  <!-- END ACTIONABLE ITEMS -->


  <!-- PROGRESS AND STATISTICS -->
  <section class="progress-and-statistics">

    <!-- WEEKLY PROGRESS -->
    <div class="progress">
      <h3>Your progress this week</h3>

      <div class="progress-bar">
        <div class="meter" style="width: <%= @progress > 100 ? 100 : @progress %>%"><span class="label"><%= @postings_applied_this_week.size %>
        <% if @progress > 16 %>
         <em>of</em> <%= @application_goal %>
        <% end %>
        </span></div>
      </div>

      <p>You have applied to <strong><%= @postings_applied_this_week.size %></strong> <%= "job".pluralize(@postings_applied_this_week.size) %> this week.<br>

      <% if @percent_difference == 0 %>
        That number could probably be a bit higher, hmm? Let&rsquo;s get started!

      <% elsif @percent_difference.infinite? %>
        <% applications_left = @application_goal-@postings_applied_this_week.size %>
        <% if applications_left > 0 %>
          Great start! Apply for <strong><%= applications_left %></strong> more <%= "job".pluralize(applications_left) %> this week to reach your goal.
        <% else %>
          You&rsquo;ve already hit your goal for this week. Way to go, tiger!
        <% end %>

      <% elsif @percent_difference > 0 %>
        That&rsquo;s
        <span class="success">
          <i class="icon-double-angle-up"><span>
            <%= @percent_difference.round(0) %>% higher
          </span></i>
        </span>
        than your average. Way to go!

      <% elsif @percent_difference.nan? %>
        Gnarly, dude. Totally not a number.

      <% else %>
        That&rsquo;s
        <span class="failure">
          <i class="icon-double-angle-down"><span>
            <%= @percent_difference.abs.round(0) %>% lower
          </span></i>
        </span>
        than your average. Keep at it, okay?
      <% end %>

      </p>
    </div>
    <!-- END WEEKLY PROGRESS -->

    <!-- OVERALL STATISTICS -->
    <% if @postings_applied_for.size != 0 %>
      <div class="statistics">
        <h3>Your overall statistics</h3>
        <ul>
          <li class="total-applications">
            <i class="icon-checkmark"><span><%= @postings_applied_for.size %> down</span></i>
            You&rsquo;ve applied for <strong><%= @postings_applied_for.size %></strong> <%= "job".pluralize(@postings_applied_for.size) %> since <%= short_date(@date_started) %>.
          </li>

          <li class="offers">
            <i class="icon-coin"><span><%= (@postings_with_offers.size.to_f / @postings_applied_for.size.to_f * 100).round(0) %>% new-job-having badass!</span></i>
            You&rsquo;ve received <strong><%= @postings_with_offers.size %></strong> <%= "job offer".pluralize(@postings_with_offers.size) %>. 
          </li>

          <li class="success">
            <i class="icon-bubbles3"><span><%= (@postings_with_interviews.size.to_f / @postings_applied_for.size.to_f * 100).round(0) %>% rockstar</span></i>
            You&rsquo;ve had <strong><%= @postings_with_interviews.size %></strong> <%= "interview".pluralize(@postings_with_interviews.size) %> so far.
          </li>

          <li class="failure">
            <i class="icon-thumbs-down3"><span><%= (@postings_archived.size.to_f / @postings_applied_for.size.to_f * 100).round(0) %>% sadface</span></i>
            <strong><%= @postings_archived.size %></strong> of your jobs just didn&rsquo;t work out.
          </li>

          <li class="weekly-average">
            <i class="icon-calendar"><span><%= @applications_per_week.ceil %> a week</span></i>
            On average, you send out <strong><%= @applications_per_week.ceil %></strong> <%= "application".pluralize(@applications_per_week.ceil) %> a week.
          </li>

        </ul>
      </div>
    <% end %>

  </section>
  <!-- END PROGRESS AND STATISTICS -->

</div>
