<!-- PAGE HEADER -->
<header class="page-header">
  <h3>Welcome back<% if current_user.name %>, <%= current_user.name %><% end %>!</h3>
  <h1>Your dashboard</h1>
</header>
<!-- END PAGE HEADER -->


<!-- HELLO MESSAGE -->
<div class="intro large-text">
  <p>Hello<% if current_user.name %>, <%= current_user.name %><% end %>. Here&rsquo;s a look at your progress.</p>
</div>
<!-- END HELLO MESSAGE -->

<div class="main-content">
  <!-- ACTIONABLE ITEMS -->
  <section class="action-items">
    
    <!-- UPCOMING INTERVIEWS -->
    <% unless @postings_with_upcoming_interviews.empty? %>
      <div class="upcoming-interviews">
        <h3>You have <%= @postings_with_upcoming_interviews.size %> upcoming interviews</h3>
        <p>You get &lsquo;em, tiger!</p>
        <ul>
          <% @postings_with_upcoming_interviews.each do |posting| %>
            <li>
              <i class="icon-bubbles3"><span title="<%= full_datetime(posting.interviews.upcoming.first.datetime) %>"><%= friendly_datetime(posting.interviews.upcoming.first.datetime) %></span></i>
              with 
              <% unless posting.interviews.upcoming.first.interviewer.blank? %> 
                <%= posting.interviews.upcoming.first.interviewer %> at
              <% end %>
              <%= posting.hiring_organization %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- END UPCOMING INTERVIEWS -->

    <!-- APPLICATION NEEDED -->
    <% unless @postings_needing_application.empty? %>
      <div class="application-needed">
        <h3>You have <%= @postings_needing_application.size %> jobs to apply for</h3>
        <p>What are you waiting for? Start sending out applications today!</p>
        <ul>
          <% @postings_needing_application.each do |posting| %>
            <li>
              <%= link_to posting do %>
                <%= posting.title %> at <%= posting.hiring_organization %> (Deadline <%= posting.deadline %>)
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <!-- END APPLICATION NEEDED -->

    <!-- FOLLOW-UP NEEDED -->
    <% unless @postings_needing_followup.empty? %>
    <div class="followup-needed">
      <h3>You need to send <%= @postings_needing_followup.size %> follow-up messages.</h3>
      <p>Let&rsquo;s get going, mister and/or missy!</p>
    </div>
    <% end %>
    <!-- END FOLLOWUP NEEDED -->

  </section>
  <!-- END ACTIONABLE ITEMS -->


  <!-- PROGRESS AND STATISTICS -->
  <section class="progress-and-statistics">

    <!-- WEEKLY PROGRESS -->
    <div class="progress">
      <h3>Your progress this week</h3>
      
      <div class="progress-bar">
        <span class="meter" style="width: 60%"><p>60%</p></span>
      </div>

      <p>You have applied to x jobs of your x goal. This is x% higher/lower than your average. Something encouraging.</p>
    </div>
    <!-- END WEEKLY PROGRESS -->

    <!-- OVERALL STATISTICS -->
    <div class="statistics">
      <h3>Your overall statistics</h3>
      <ul>
        <li class="total-applications">
          <i class="icon-checkmark"><span><%= @postings_applied_for.size %> down</span></i>
          In total, you&rsquo;ve applied for <%= @postings_applied_for.size %> jobs.
        </li>
        
        <li class="success">
          <i class="icon-bubbles3"><span><%= (@postings_with_interviews.size.to_f/@postings_applied_for.count.to_f * 100).round(0) %>% rockstar</span></i>
          You&rsquo;ve had <%= @postings_with_interviews.size %> interviews so far.
        </li>

        <li class="failure">
          <i class="icon-thumbs-down3"><span><%= (@postings_archived.count.to_f/@postings_applied_for.count.to_f * 100).round(0) %>% sadface</span></i> 
          <%= @postings_archived.size %> of your jobs just didn&rsquo;t work out.
        </li>
        
        <li class="weekly-average">
          <i class="icon-calendar"><span>x jobs per week</span></i>
          On average, you apply to x jobs per week.
        </li>
      
      </ul>
    </div>

  </section>
  <!-- END PROGRESS AND STATISTICS -->

</div>


<!-- LOGOUT IN FOOTER (FOR NOW) -->
<footer class="logout">
  <%= link_to "Log out", destroy_user_session_path, method: 'delete' %>
</footer>
<!-- END FOOTER -->
