<header class="page-header">
  <h3>Get a jump-start on your job hunt</h3>
  <h1><%= t('Sign up') %></h1>
</header>



<div class="signup-intro large-text">
  <p>Job-hunting is the <em>worst</em>. Whether you send out ten resumes or ten hundred, it&rsquo;s important to keep track of your process. Using suitor, you can easily track your application status, send follow-ups, and keep a record of what you said to who, so you&rsquo;ll never accidentally say the wrong thing to the wrong person.</p>

  <p>Sign up for an account now! It&rsquo;s <strong>free</strong> and takes less than <strong>30 seconds.</strong></p>

  <p>(PS: Already have an account? <%= link_to "Log in here.", login_path %>)</p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :role => 'form', :id => 'signup-form' }) do |f| %>
  <fieldset class="primary">

  <h3>Sign up for a free account</h3>

  <h4><span><%= t('Sign up with') %></span></h4>

  <div>
    <%= link_to user_omniauth_authorize_path(:facebook), id: 'facebook' do %>
      <i class="icon-facebook"></i>Facebook
    <% end %>
    <!--
    <%= link_to user_omniauth_authorize_path(:facebook), id: 'twitter' do %>
      <i class="icon-twitter"></i>Twitter
    <% end %>
    -->
    <a id="twitter"><i class="icon-twitter"></i>Twitter</a>
  </div>

  <h4><span><%= t('or with email') %></span></h4>

  <%= devise_error_messages! %>

  <div>
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: t("users.email.placeholder"), type: 'text' %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password, placeholder: '' %>
  </div>

  <div class="actions">
    <input type="submit" value="Sign up">
  </div>

  </fieldset>
<% end %>
