<%= form_for([@interview.posting, @interview]) do |f| %>
  
  <% if location == "posting-detail" %>
    <h3>Schedule <span>an<% if interview == "second" %>other<% end %></span> interview</h3>
  <% end %>

  <% if @interview.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
      <% @interview.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="half-width date">
    <%= f.label :date %>
    <%= date_field(:interview, :datetime_date) %>
    <i class="icon-calendar"></i>
  </div>

  <div class="half-width time">
    <%= f.label :time %>
    <%= time_field(:interview, :datetime_time) %>
    <i class="icon-clock"></i>
  </div>


  <div>
    <%= f.label :interviewer, "Name of your interviewer" %>
    <%= f.text_field :interviewer %>
  </div>

  <div>
    <%= f.label :contact_method, "How to reach them (Skype, phone, meeting place)" %>
    <%= f.text_field :contact_method %>
  </div>
  
  <div>
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
