<header class="page-header">
  <h3>Settings and junk!</h3>
  <h1>Edit Your Profile</h1>
</header>

<%= form_for(@user, url: profile_path, html: { method: :put }) do |f| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |message| %>
      <div class="alert alert-error">
        <ul>
          <li>
            <%= message %>
          </li>
        </ul>
      </div>
    <% end %>
  <% end %>

  <fieldset class="primary">
    <h3>Your details</h3>
    <div>
      <%= f.label :email %>
        <% if @user.pending_reconfirmation? %>
        <em>(<%= @user.unconfirmed_email %> is waiting for confirmation)</em>
      <% end %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="half-width">
      <%= f.label :"application_goal", title: 'How many jobs do you want to apply for per week?' %><em></em>
      <%= f.text_field :application_goal %>
    </div>

    <div class="half-width">
      <%= f.label :"followup_offset", title: 'This is the number of days after applying you want to send a follow-up message.' %>
      <%= f.text_field :followup_offset %>
    </div>

  </fieldset>

  <fieldset class="secondary">
    <h3>Change your password</h3>
    <div>
      <%= f.label :password %> <em>(leave blank if you don't want to change it)</em>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </fieldset>

  <fieldset class="important">
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  </fieldset>
<% end %>
