<header class="page-header">
  <h3>Well, I guess so long as you don&rsquo;t forget your anniversary.</h3>
  <h1><%= t('Forgot your password?') %></h1>
</header>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, id: 'password-reset' }) do |f| %>
  <fieldset class="primary">
    <h3>Set your new password</h3>
    <%= devise_error_messages! %>
    <div>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="actions">
      <%= f.submit "Reset password" %>
    </div>
  </fieldset>
<% end %>
