<%= form_for([@job_application.posting, @job_application], remote: true, format: :json)  do |f| %>

  <% if @job_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job_application.errors.count, "error") %> prohibited this job_application from being saved:</h2>

      <ul>
      <% @job_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :date_applied %>
    <%= date_field(:job_application, :date_sent, value: short_date(@job_application.date_sent)) %>
  </div>

  <div>
    <%= f.label :cover_letter %>
    <%= f.text_area :cover_letter, autofocus: 'autofocus' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
