<h1>Listing job_applications</h1>

<table>
  <thead>
    <tr>
      <th>date_sent</th>
      <th>cover_letter</th>
      <th>Posting</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @job_applications.each do |job_application| %>
      <tr>
        <td><%= job_application.date_sent %></td>
        <td><%= job_application.cover_letter %></td>
        <td><%= job_application.posting %></td>
        <td><%= link_to 'Show', job_application %></td>
        <td><%= link_to 'Edit', edit_job_application_path(job_application) %></td>
        <td><%= link_to 'Destroy', job_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job application', new_job_application_path %>
