<p id="notice"><%= notice %></p>

<p>
  <strong>date_sent:</strong>
  <%= @job_application.date_sent %>
</p>

<p>
  <strong>cover_letter:</strong>
  <%= @job_application.cover_letter %>
</p>

<p>
  <strong>Posting:</strong>
  <%= @job_application.posting %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
