<%= form_for @posting, html: {class: "skinny-form"} do |f| %>
  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@posting.errors.count, "error") %> prohibited this post from being saved:</h2>
      
      <ul>
        <% @posting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

<fieldset class="job-information">

  <div>
    <%= f.label :title, "Position", class: "required" %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :date_posted, "Date posted" %>
    <%= date_field(:posting, :date_posted) %>
    <i class="icon-calendar"></i>
  </div>

  <div>
    <%= f.label :'url', "URL to original posting" %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :description, "Posting details" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

</fieldset>


<fieldset class="company-information primary">

  <h3>About the company</h3>
  <div>
    <%= f.label :hiring_organization , "Company" %>
    <%= f.text_field :hiring_organization %>
  </div>

  <div>
    <%= f.label :hiring_organization_url, "Company Website"  %>
    <%= f.text_field :hiring_organization_url %>
  </div>

  <div>
    <%= f.label :job_location, "Location" %>
    <%= f.text_field :job_location %>
  </div>

</fieldset>

<fieldset class="application-information secondary">

  <h3>How to apply</h3>

  <div>
    <%= f.label :deadline, "Deadline" %>
    <%= date_field(:posting, :deadline) %>
    <i class="icon-calendar"></i>
  </div>

  <div>
    <%= f.label :contact_name, "Contact Name" %>
    <%= f.text_field :contact_name %>
  </div>

  <div>
    <%= f.label :contact_email, "Email address" %>
    <%= f.text_field :contact_email %>
  </div>

  <div>
    <%= f.label :application_url, "Application URL" %>
    <%= f.text_field :application_url %>
  </div>

  <div>
    <%= f.label :application_instructions, "Instructions" %>
    <%= f.text_area :application_instructions %>
  </div>

</fieldset>

<% end %>
