<%= form_for @posting do |f| %>
  <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@posting.errors.count, "error") %> prohibited this post from being saved:</h2>
      
      <ul>
        <% @posting.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>  
  <% end %>

  <div>
    <%= f.label :position %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :'date posted' %>
    <%= date_field(:posting, :date_posted) %>
  </div>

  <div>
    <%= f.label :'posting url' %>
    <%= f.text_field :url %>
  </div>

  <div>
    <%= f.label :details %>
    <%= f.text_area :description %>
  </div>

  <h2>Company information</h2>
  <div>
    <%= f.label :company %>
    <%= f.text_field :hiring_organization %>
  </div>

  <div>
    <%= f.label :'company website' %>
    <%= f.text_field :hiring_organization_url %>
  </div>

  <div>
    <%= f.label :location %>
    <%= f.text_field :job_location %>
  </div>




  <h2>Application details</h2>
  <div>
    <%= f.label :contact %>
    <%= f.text_field :contact_name %>
  </div>

  <div>
    <%= f.label :'email' %>
    <%= f.text_field :contact_email %>
  </div>

  <div>
    <%= f.label :'application url' %>
    <%= f.text_field :application_url %>
  </div>

  <div>
    <%= f.label :'submission requirements' %>
    <%= f.text_field :submission_requirements %>
  </div>

  <hr>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
