<%= form_for @posting do |f| %>
 <% if @posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@posting.errors.count, "error") %> prohibited this post from being saved:</h2>
    
      <ul>
      <% @posting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>

    <% end %>

  </div>
    
  <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
  </div>

  <div>
      <%= f.label :text %>
      <%= f.text_area :description %>
  </div>

  <div>
      <%= f.submit %>
    </div>

<% end %>