<h1>All job postings</h1>

<%= link_to 'Add new job posting', new_posting_path %>
 
  <% @postings.each do |posting| %>
    <div>
      <h3><%= posting.title %> (<%= link_to 'Show', posting %> | 
      	<%= link_to 'Destroy', posting_path(posting), 
      	method: :delete, data: { confirm: 'Are you sure?' } %>) </h3>
      <p><%= posting.description %></p>
    </div>
  <% end %>