
<header class="page-header">
  <h1>All job postings</h1>
  <%= link_to 'Add new job posting', new_posting_path %>
</header>

  <% @postings.each do |posting| %>
    <section class="job-posting">
      
      <div class="header">
        <h3><%= link_to posting.title, posting %></h3>
        
        <div class="controls">
        <% if posting.applied? %>
          <i class="applied icon-checkmark-circle"><span>Applied</span></i>
        <% else %>
          <i class="applied icon-checkmark-circle greyed"><span>Apply now!</span></i>
        <% end %>

        <%= link_to posting.url do %>
          <i class="icon-external-link"><span>Original posting</span></i>
        <% end %>  

        <%= link_to posting_path(posting), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-trash2"><span>Delete</span></i>
        <% end %>  
        </div>
      </div>


      <div class="company">
        <h2><a href="<%= posting.hiringOrganizationUrl %>"><%= posting.hiringOrganization %></a></h2>
        <p><%= posting.description.truncate(300, separator: ' ') %> (<%= link_to 'More information', posting %>)</p>
      </div>

      <ul class="job-details">
        <% if posting.datePosted %>
          <li><i class="icon-clock4"><span>Posted</span></i><%= posting.datePosted.strftime("%B %d") %></li>
        <% end %>

        <% if posting.jobLocation %>
          <li><i class="icon-location4"><span>Location</span></i><%= posting.jobLocation %></li>
       <% end %>

        <% if posting.submissionRequirements %>
          <li><i class="icon-key2"><span>Requires</span></i><%= posting.submissionRequirements.downcase %></li>
        <% end %>        
      </ul>

    </section>
  <% end %>
