<header class="page-header">
  <!-- PAGE TITLE -->
  <% if @archive_page %>
    <h3>Sorted by: date added</h3>
    <h1>Archived <span class="hide-small">job</span> postings</h1>
  <% else %>
    <h3>Sorted by: <%= @sortorder.titleize %></h3>
    <h1>Open <span class="hide-small">job</span> postings</h1>
  <% end %>
  <!-- END PAGE TITLE -->

  <!-- FILTER BUTTONS -->
  <div class="dropdown filter-buttons">
    <button><i class="icon-beaker2"><span>Filter</span></i> <i class="expand-icon icon-arrow-down9"></i></button>
    <ul style="display: none;">
      <li class="title">Only show postings with:</li>

      <%= link_to "#", data: {class: "application-needed"} do %>
        <li class="checked"><i class="icon-checkmark"><span>Application due</span></i></li>
      <% end %>

      <%= link_to "#", data: {class: "followup-needed"} do %>
        <li class="checked"><i class="icon-checkmark"><span>Follow-up due</span></i></li>
      <% end %>

      <%= link_to "#", data: {class: "interview-scheduled"} do %>
        <li class="checked"><i class="icon-checkmark"><span>Interview scheduled</span></i></li>
      <% end %>

      <%= link_to "#", data: {class: "interview-completed"} do %>
        <li class="checked"><i class="icon-checkmark"><span>Interview completed</span></i></li>
      <% end %>

      <%= link_to '#', data: {class: "offer-made"} do %>
        <li class="checked"><i class="icon-checkmark"><span>Offer made</span></i></li>
      <% end %>
    </ul>
  </div>
  <!-- END FILTER BUTTONS -->

  <!-- BUTTON TO ARCHIVED POSTS -->
  <div class="controls">
  <% if @archive_page %>
    <%= link_to postings_path do %>
      <i class="icon-thumbs-up3"><span>Open postings</span></i>
    <% end %>
  <% else %>
    <%= link_to archived_postings_path do %>
      <i class="icon-thumbs-down3"><span>Archived postings</span></i>
    <% end %>
  <% end %>
  </div>
  <!-- END ARCHIVED POSTS BUTTON -->

  <!-- SORT BUTTONS -->
  <% if !@archive_page %>
    <div class="dropdown sort-buttons">
      <button><i class="icon-magic"><span>Sort</span></i> <i class="expand-icon icon-arrow-down9"></i></button>
      <ul style="display: none;">
      <li class="title">Sort postings by:</li>
        <%= render "sort_buttons", buttons: ["importance", "status", "date-posted", "date-added"] %>
      </ul>
    <div>
  <% end %>
  <!-- END SORT BUTTONS -->
</header>

<!-- INDIVIDUAL POSTING BOXES -->
<% cache(cache_key_for_postings(@method)) do %>
  <% policy_scope(Posting.all).send(*@method).each do |posting| %>
    <section class="job-posting <%= posting.actionable %> <% if posting.action_required? %>action-required<% end %>" id="posting-<%= posting.id %>">
      <!-- STATUS BAR -->
      <div class="status">
        <% if posting.offer_made? %>
          <i class="icon-coin"><span>Got the job!</span></i>

        <% elsif posting.interview_scheduled? %>
          <i class="icon-bubbles3"><span title="<%= full_datetime(posting.interviews.upcoming.first.datetime) %>">Interview <%= friendly_datetime(posting.interviews.upcoming.first.datetime) %></span></i>

        <% elsif posting.interview_completed? %>
          <i class="icon-bubbles3"><span title="<%= full_datetime(posting.interviews.last.datetime) %>">Interviewed <%= friendly_datetime(posting.interviews.last.datetime) %></span></i>

        <% elsif posting.applied? and posting.followup_needed? %>
          <i class="followup icon-circle-blank todo" data-uri="<%= followup_posting_job_application_path(posting, posting.job_application) %>" data-posting-id="<%= posting.id %>"><span title="Application sent <%= friendly_datetime(posting.job_application.date_sent) %>">Follow up</span></i>

        <% elsif posting.applied? %>
          <%= render partial: "job_applications/checkmark", locals: {posting: posting} %>

        <% else %>
          <i class="applied icon-circle-blank todo" data-uri="<%= posting_job_applications_path(posting) %>" data-posting-id="<%= posting.id %>"><span>Apply now!</span></i>

          <div class="dialog"></div>
        <% end %>
      </div>
      <!-- END STATUS BAR -->

      <!-- POSTING TITLE -->
      <h3><%= link_to posting.title, posting %></h3>
      <h2><%= link_to posting.hiring_organization, posting %></h2>
      <!-- END POSTING TITLE -->

      <!-- DEADLINE AND/OR DATE POSTED -->
      <div class="date">
        <% if posting.deadline %>
          <i class="icon-clock4"><span>Deadline</span></i><%= short_date(posting.deadline) %>
        <% elsif posting.date_posted %>
          <i class="icon-clock4"><span>Posted</span></i><%= short_date(posting.date_posted) %>
        <% end %>
      </div>
      <!-- END DEADLINE-->

      <!-- ACTION BUTTONS (CONTEXTUAL) -->
      <div class="actions">
        <%= link_to archivetoggle_posting_path(posting), remote: true, method: :put, class: "archive-toggle", data: {id: "posting-#{posting.id}"} do %>
          <% if posting.archived %>
            <i class="icon-thumbs-up3"><span>Unarchive</span></i>
          <% else %>
            <i class="icon-thumbs-down3"><span>Archive</span></i>
          <% end %>
        <% end %>

        <% if !@archive_page %>
          <%= link_to new_posting_interview_path(posting) do %>
            <i class="icon-bubbles3"><span>Interview</span></i>
          <% end %>
        <% end %>

        <%= link_to new_posting_offer_path(posting) do %>
          <i class="icon-dollar"><span>Offer</span></i>
        <% end %>
      </div>
      <!-- END ACTION BUTTONS -->

      <!-- JUST A PLACE TO HIDE THINGS FOR NOW -->
      <div class="hidden-info">
        <% if posting.job_location %>
          <li><i class="icon-location4"><span>Location</span></i><%= posting.job_location %></li>
        <% end %>
      </div>
      <!-- END SARAH'S LACK OF ORGANIZATION -->
    </section>
  <% end %>
  <!-- END INDIVIDUAL POSTING BOXES-->
<% end %>
