
<header class="page-header">
  <h1>All job postings</h1>
</header>

  <% @postings.each do |posting| %>
    <section class="job-posting">
      
      <div class="header">
        <h3><%= link_to posting.title, posting %></h3>
        
        <div class="controls">
        <% if posting.applied? %>
          <i class="applied icon-checkmark done"><span>Applied</span></i>
        <% else %>
          <i class="applied icon-circle-blank todo"><span>Apply now!</span></i>
        <% end %>

        <%= link_to posting.url do %>
          <i class="icon-external-link-sign"><span>Original posting</span></i>
        <% end %>  

        <%= link_to edit_posting_path(posting) do %>
          <i class="icon-pencil2"><span>Edit</span></i>
        <% end %>

        <%= link_to posting_path(posting), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-trash2"><span>Delete</span></i>
        <% end %>  
        </div>
      </div>


      <div class="company">
        <h2><%= link_to posting.hiring_organization, posting %></h2>
        <div class="notes">
          <%= simple_format(posting.description.truncate(300, separator: ' ')) %> 
          (<%= link_to 'More information', posting %>)
        </div>
      </div>

      <ul class="job-details">
        <% if posting.date_posted %>
          <li><i class="icon-clock4"><span>Posted</span></i><%= posting.date_posted.strftime("%B %d") %></li>
        <% end %>

        <% if posting.job_location %>
          <li><i class="icon-location4"><span>Location</span></i><%= posting.job_location %></li>
       <% end %>

        <% if posting.submission_requirements %>
          <li><i class="icon-key2"><span>Requires</span></i><%= posting.submission_requirements.downcase %></li>
        <% end %>        
      </ul>

    </section>
  <% end %>
