
<header class="page-header">
  <h1>All job postings</h1>
</header>

<% @postings.each do |posting| %>

  <section class="job-posting <%= posting.actionable %>" id="posting-<%= posting.id %>">

    <div class="status">

      <% if !posting.interviews.empty? and !posting.interviews.upcoming.empty? %>
        <i class="icon-bubbles3"><span>Interview scheduled <%= posting.interviews.upcoming.first.datetime.strftime("%B %d %l:%M %P") %></span></i>

      <% elsif !posting.interviews.empty? and posting.interviews.upcoming.empty? %>
        <i class="icon-bubbles3"><span>Interviewed <%= posting.interviews.last.datetime.strftime("%B %d") %></span></i>

      <% elsif posting.applied? and posting.followup_needed? %>
        <i class="applied icon-circle-blank todo" data-uri="<%= job_applications_path %>" data-posting-id="<%= posting.id %>"><span>Follow up</span></i>

      <% elsif posting.applied? %>
        <i class="applied icon-checkmark done"><span><%= t('Applied') %> <%= posting.job_application.date_sent.strftime("%B %d") %></span></i>
        
        <div class="dialog" title="<%= t('job_applications.sent_at_time', time: posting.job_application.date_sent.strftime("%B %d")) %>">
          <p><%= simple_format(posting.job_application.cover_letter) %></p>
        </div>

      <% else %>
        <i class="applied icon-circle-blank todo" data-uri="<%= job_applications_path %>" data-posting-id="<%= posting.id %>"><span>Apply now!</span></i>

        <div class="dialog"></div>
      <% end %>

    </div>

    <h3><%= link_to posting.title, posting %></h3>
    <h2><%= link_to posting.hiring_organization, posting %></h2>

    <div class="date">
      <% if posting.deadline %>
        <i class="icon-clock4"><span>Deadline</span></i><%= posting.deadline.strftime("%B %d") %>
      <% elsif posting.date_posted %>
        <i class="icon-clock4"><span>Posted</span></i><%= posting.date_posted.strftime("%B %d") %>
      <% end %>
    </div>


    <!-- VARIOUS STATUS BUTTONS -->
    <div class="actions">
      
      <%= link_to archivetoggle_posting_path(posting), remote: true, method: :put, class: "archive-toggle", data: {id: "posting-#{posting.id}"} do %>
        <% if posting.archived %>
          <i class="icon-thumbs-up3"><span>Unarchive</span></i>
        <% else %>
          <i class="icon-thumbs-down3"><span>Archive</span></i>
        <% end %>
      <% end %>

      <%= link_to new_posting_interview_path(posting) do %>
        <i class="icon-bubbles3"><span>Interview</span></i>
      <% end %>

      <a href="#"><i class="icon-dollar"><span>Offer</span></i></a>
    </div>



    <div class="hidden-info">
      <% if posting.job_location %>
        <li><i class="icon-location4"><span>Location</span></i><%= posting.job_location %></li>
      <% end %>
    </div>

  </section>

<% end %>
