
<header class="page-header">
  <% if @archive_page %>
    <h1>Archived job postings</h1>
  <% else %>
    <h1>Open job postings</h1>
  <% end %>

    <div class="dropdown filter-buttons">
      <button><i class="icon-beaker2"><span>Filter</span></i> <i class="expand-icon icon-arrow-down9"></i></button>
      <ul style="display: none;">
      <li class="title">Only show postings with:</li>
        <%= link_to "#", data: {class: "application-needed"} do %>
          <li class="checked"><i class="icon-checkmark"><span>Application due</span></i></li>
        <% end %>

        <%= link_to "#", data: {class: "followup-needed"} do %>
          <li class="checked"><i class="icon-checkmark"><span>Follow-up due</span></i></li>
        <% end %>
      
        <%= link_to "#", data: {class: "interview-scheduled"} do %>
          <li class="checked"><i class="icon-checkmark"><span>Interview scheduled</span></i></li>
        <% end %>

        <%= link_to "#", data: {class: "interview-completed"} do %>
          <li class="checked"><i class="icon-checkmark"><span>Interview completed</span></i></li>
        <% end %>

        <!--
        <%= link_to "#", data: {class: "offer-made"} do %>
          <li class="checked"><i class="icon-checkmark"><span>Offer made</span></i></li>
        <% end %>
        -->
        
      </ul>
    </div>


    <div class="controls">
    <% if @archive_page %>
      <%= link_to postings_path do %>
        <i class="icon-thumbs-up3"><span>Open postings</span></i>
      <% end %>
    <% else %>
      <%= link_to archived_postings_path do %>
        <i class="icon-thumbs-down3"><span>Archived postings</span></i>
      <% end %>
    <% end %>
    </div>




    <div class="dropdown sort-buttons">
      <button><i class="icon-magic"><span>Sort</span></i> <i class="expand-icon icon-arrow-down9"></i></button>
      <ul style="display: none;">
      <li class="title">Sort postings by:</li>

        <%= link_to "#", data: {class: "interview-completed"} do %>
          <li class="checked"><i class="icon-checkmark"><span>Urgency</span></i></li>
        <% end %>

        <%= link_to "#", data: {class: "application-needed"} do %>
          <li><i class="icon-circle-blank"><span>Date posted</span></i></li>
        <% end %>

        <%= link_to "#", data: {class: "followup-needed"} do %>
          <li><i class="icon-circle-blank"><span>Date addded</span></i></li>
        <% end %>
      
        <%= link_to "#", data: {class: "interview-scheduled"} do %>
          <li><i class="icon-circle-blank"><span>Application status</span></i></li>
        <% end %>
        
      </ul>
    <div>


</header>





<% @postings.each do |posting| %>

  <section class="job-posting <%= posting.actionable %> <% if posting.action_required? %>action-required<% end %>" id="posting-<%= posting.id %>">

    <div class="status">

      <% if posting.interview_scheduled? %>
        <i class="icon-bubbles3"><span title="<%= full_datetime(posting.interviews.upcoming.first.datetime) %>">Interview <%= friendly_datetime(posting.interviews.upcoming.first.datetime) %></span></i>

      <% elsif posting.interview_completed? %>
        <i class="icon-bubbles3"><span title="<%= full_datetime(posting.interviews.last.datetime) %>">Interviewed <%= friendly_datetime(posting.interviews.last.datetime) %></span></i>

      <% elsif posting.applied? and posting.followup_needed? %>
        <i class="followup icon-circle-blank todo" data-uri="<%= followup_posting_job_application_path(posting, posting.job_application) %>" data-posting-id="<%= posting.id %>"><span title="Application sent <%= friendly_datetime(posting.job_application.date_sent) %>">Follow up</span></i>

      <% elsif posting.applied? %>
        <i class="applied icon-checkmark done"><span title="Application sent on <%= short_date(posting.job_application.date_sent) %>"><%= t('Applied') %> <%= friendly_datetime(posting.job_application.date_sent) %></span></i>
        
        <div class="dialog" title="<%= t('job_applications.sent_at_time', time: short_date(posting.job_application.date_sent)) %>">
          <p><%= simple_format(posting.job_application.cover_letter) %></p>
        </div>

      <% else %>
        <i class="applied icon-circle-blank todo" data-uri="<%= posting_job_applications_path(posting) %>" data-posting-id="<%= posting.id %>"><span>Apply now!</span></i>

        <div class="dialog"></div>
      <% end %>

    </div>

    <h3><%= link_to posting.title, posting %></h3>
    <h2><%= link_to posting.hiring_organization, posting %></h2>

    <div class="date">
      <% if posting.deadline %>
        <i class="icon-clock4"><span>Deadline</span></i><%= short_date(posting.deadline) %>
      <% elsif posting.date_posted %>
        <i class="icon-clock4"><span>Posted</span></i><%= short_date(posting.date_posted) %>
      <% end %>
    </div>


    <!-- VARIOUS ACTION BUTTONS (CONTEXTUAL) -->
    <div class="actions">
      
      <%= link_to archivetoggle_posting_path(posting), remote: true, method: :put, class: "archive-toggle", data: {id: "posting-#{posting.id}"} do %>
        <% if posting.archived %>
          <i class="icon-thumbs-up3"><span>Unarchive</span></i>
        <% else %>
          <i class="icon-thumbs-down3"><span>Archive</span></i>
        <% end %>
      <% end %>

      <% if !@archive_page %>
        <%= link_to new_posting_interview_path(posting) do %>
          <i class="icon-bubbles3"><span>Interview</span></i>
        <% end %>

        <!--<a href="#"><i class="icon-dollar"><span>Offer</span></i></a>-->
      <% end %>
    </div>



    <div class="hidden-info">
      <% if posting.job_location %>
        <li><i class="icon-location4"><span>Location</span></i><%= posting.job_location %></li>
      <% end %>
    </div>

  </section>

<% end %>
