<h1>Add new job posting</h1>

<%= form_for :posting, url: postings_path do |f| %>
    
	<div>
    	<%= f.label :title %>
    	<%= f.text_field :title %>
 	</div>

 	<div>
    	<%= f.label :text %>
    	<%= f.text_area :description %>
 	</div>

 	<div>
    	<%= f.submit %>
    </div>

<% end %>

<%= link_to 'Never-mind!', postings_path %>