<header class="page-header">
  <h1>Posting Details</h1>
</header>

<div>
  <strong>Title: </strong>
  <%= @posting.title %>
</div>

<div>
  <strong>date posted: </strong>
  <%= @posting.datePosted %>
</div>

  <div>
    <strong>posting url: </strong>
      <%= @posting.url %>
  </div>

<div>
  <strong>Description: </strong>
  <%= @posting.description %>
</div>




<h2>Company information</h2>
  
<div>
	<strong>company: </strong>
	<%= @posting.hiringOrganization %>
</div>

<div>
	<strong>company website: </strong>
	<%= @posting.hiringOrganizationUrl %>
</div>

<div>
	<strong>location: </strong>
	<%= @posting.jobLocation %>
</div>




<h2>Application details</h2>

<div>
  <strong>contact: </strong>
  <%= @posting.contactName %>
</div>

<div>
  <strong>email: </strong>
  <%= @posting.contactEmail %>
</div>

<div>
  <strong>application url: </strong>
  <%= @posting.applicationUrl %>
</div>

<div>
  <strong>submission requirements: </strong>
  <%= @posting.submissionRequirements %>
</div>



<% if @posting.applied? %>
  <h3>Application submitted <%= @posting.job_application.dateSent.strftime("%B %d") %></h3>
  <%= @posting.job_application.coverLetter %>

<% else %>
  <h3>Mark job as applied</h3>
  <%= form_for(@posting.job_application) do |f| %>

    <%= f.label :"Date applied" %>
    <%= date_field :job_application, :dateSent, value: @posting.job_application.dateSent %>

    <%= f.label :"Cover letter" %>
    <%= f.text_area :coverLetter %>

    <%= f.submit %>

  <% end %>

<% end %>



<%= link_to 'Edit posting', edit_posting_path(@posting) %>

<%= link_to 'Never-mind!', postings_path %>
