<header class="page-header">
  <h3><%= @posting.title %></h3>
  <h1><%= @posting.hiring_organization %></h1>

  <div class="controls">
  <%= link_to edit_posting_path(@posting) do %>
    <i class="icon-pencil2"><span>Edit</span></i>
  <% end %>

  <%= link_to posting_path(@posting), method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="icon-trash2"><span>Delete</span></i>
  <% end %> 

  <% if @posting.url %>
    <%= link_to @posting.url do %>
        <i class="icon-link3"><span>Original posting</span></i>
    <% end %>
  <% end %>

  <%= link_to archivetoggle_posting_path(@posting), remote: true, method: :put, class: "archive-toggle", data: {id: "posting-#{@posting.id}"} do %>
        <% if @posting.archived %>
          <i class="icon-thumbs-up3"><span>Unarchive</span></i>
        <% else %>
          <i class="icon-thumbs-down3"><span>Archive</span></i>
        <% end %>
      <% end %>
  </div>

</header>


<section class="job-information">




  <ul class="job-details">
    
    <% if @posting.date_posted or @posting.deadline %>
      <li>
      <% if @posting.date_posted %>
        <i class="icon-clock4"><span>Posted</span></i><%= short_date(@posting.date_posted) %>
      <% end %>
      <% if @posting.deadline %>
        <i class="icon-alarm2"><span>Deadline</span></i><%= friendly_datetime(@posting.deadline) %>
      <% end %>
      </li>
    <% end %>

    <% if @posting.hiring_organization %>
      <li><i class="icon-location4"><span>Employer</span></i>
      <% if @posting.hiring_organization_url %>
        <%= link_to @posting.hiring_organization, @posting.hiring_organization_url %>
      <% else %>
        <%= @posting.hiring_organization %>
      <% end %>
      <% if !@posting.job_location.empty? %>(<%= @posting.job_location %>)<% end %>
      </li>
    <% end %>

    <% if !@posting.application_url.empty? %>
      <li><i class="icon-external-link"><span>Online application</span></i><%= link_to 'URL', @posting.application_url %></li>
    <% end %>

    <% if !@posting.contact_name.empty? or !@posting.contact_email.empty? %>
      <li><i class="icon-user6"><span>Contact</span></i>
      <% if @posting.contact_name.empty? %>
        <%= link_to @posting.contact_email, @posting.contact_email %>
      <% elsif @posting.contact_email.empty? %>
        <%= @posting.contact_name %>
      <% else %>
        <%= link_to @posting.contact_name, @posting.contact_email %>
      <% end %>
      </li>
    <% end %>

  </ul>

  <div class="job-description">
    <%= simple_format(@posting.description) %>
  </div>

  <div class="application-instructions">
    <% if @posting.application_instructions %>
      <h3><i class="icon-key2"><span></span></i>How to apply</h3>
      <%= @posting.application_instructions %>
    <% end %>   
  </div>

</section>


<section class="job-actions">

  
  <ul class="pending-tasks">
    
    <% if @posting.actionable == "interview-scheduled" %>
      <li><i class="icon-bubbles3"><span title="<%= full_datetime(@posting.interviews.upcoming.first.datetime) %>">Interview scheduled <%= friendly_datetime(@posting.interviews.upcoming.first.datetime) %></span></i></li>
    <% end %>

    <% if @posting.followup_needed? %>
      <li><i class="icon-circle-blank todo"><span>Send a follow-up</span></i></li>
    <% end %>

  </ul>




  <ul class="completed-tasks">

    <% if @posting.actionable == "interview-completed" %>
      <li><i class="icon-checkmark"><span title="<%= full_datetime(@posting.interviews.last.datetime) %>">Interviewed</span></i> <%= friendly_datetime(@posting.interviews.last.datetime) %></li>
    <% end %>
  
    <% if @posting.applied? %>
      <li><i class="icon-checkmark"><span>Application sent </i><%= short_date(@posting.job_application.date_sent) %></span></li>
      <div class="notes" style="display: none;">
        <%= simple_format(@posting.job_application.cover_letter) %>
      </div>
    <% end %>

  </ul>


  <% if @posting.actionable != "interview-scheduled" and @posting.actionable != "interview-completed" and !@posting.applied? %>

    <%= form_for(@posting.job_application) do |f| %>
    <h3>Apply now!</h3>

      <%= f.hidden_field :posting_id %>

      <%= f.label :"Date applied" %>
      <%= date_field :job_application, :date_sent, value: @posting.job_application.date_sent %>

      <%= f.label :"Enter cover letter and/or notes." %>
      <%= f.text_area :cover_letter %>

      <div class="actions">
        <%= button_tag(:type => 'submit') do %>
          <i class="icon-checkmark"></i>Mark as applied
        <% end %>
      </div>

      <% end %>

  <% end %>

  <% if @posting.actionable != "interview-scheduled"  %>
    <%= render 'interviews/form', location: "posting-detail" %>
  <% end %>

</section>
