<header class="page-header">
  <h3>Oh, hello again. Let&rsquo;s get to work!</h3>
  <h1><%= t('Log in') %></h1>
</header>

<%= devise_error_messages! %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', :id => 'login-form' }) do |f| %>
  <% if devise_mapping.rememberable? -%>
    <%= f.hidden_field :remember_me, value: 1 %>
  <% end %>

  <fieldset class="secondary">
    <h3>Log into your account</h3>

    <!--
    <h4><span><%= t('Log in with') %></span></h4>

    <div>
      <button id="facebook"><i class="icon-facebook"></i>Facebook</button>
      <button id="twitter"><i class="icon-twitter"></i>Twitter</button>
    </div>

    <h4><span><%= t('or with your email') %></span></h4>
    -->

    <div>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: t("users.email.placeholder"), type: 'email', tabindex: 1 %>
    </div>

    <div>
      <%= f.label :password do %>
        Password
        <% if devise_mapping.recoverable? %>
          <%= link_to "(Forgot it?)", new_password_path(resource_name), class: 'forgot-password-link', tabindex: 4 %>
        <% end %>
      <% end %>
      <%= f.password_field :password, tabindex: 2 %>
    </div>

    <div class="actions">
      <%= f.submit 'Log in', tabindex: 3 %>
    </div>
  </fieldset>

  <!--
  <p class="footnote">(Don&rsquo;t have an account yet? <%= link_to "Sign up here", user_signup_path %>)</p>
  -->
<% end %>
