<%= form_for([@offer.posting, @offer]) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :salary %>
    <%= f.text_field :salary %>
  </div>

  <div>
    <%= f.label :details %>
    <%= f.text_area :details %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
