<!DOCTYPE html>
<html>
<head>
  <title>suitor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.png?v=5', type: 'image/png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="site-header">
  <%= link_to root_path do %>
    <%= image_tag("suitor.png", :alt => "suitor", :id => "logo") %>
  <% end %>

  <ul class="navigation">
    
    <li>
    <%= link_to welcome_index_path do %>
        <i class="icon-dashboard2"></i>
        <%= t('Dashboard') %> <span><%= t('Your progress') %></span>
    <% end %>
    </li>

    <li>
    <%= link_to new_posting_path do %>
        <i class="icon-plus3"></i>
        <!-- TODO: Make this one string. -->
        <%= t('Add new') %> <span><%= t('job posting') %></span>
    <% end %>
    </li>

    <li>
    <%= link_to postings_path do %>
        <i class="icon-list"></i>
        <%= t('List all') %> <span><%= t('job postings') %></span>
    <% end %>
    </li>

    <li>
    <%= link_to welcome_index_path do %>
        <i class="icon-suitcase"></i>
        <%= t('About') %> <span><%= t('Learn more') %></span>
    <% end %>
    </li>


  </ul>

</header>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
