<!DOCTYPE html>
<html>
<head>
  <title>suitor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag "favicon.png?v=5", type: "image/png" %>
  <%= csrf_meta_tags %>
  <%= render partial: 'layouts/ga' %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <!-- MOBILE MENU -->
  <nav id="mobile-menu">
    <%= render "layouts/menu", device: "mobile" %>
  </nav>
  <!-- END MOBILE MENU -->

  <!-- PAGE-WRAPPER -->
  <div id="page-wrapper">
    <header class="site-header">
      <a id="mobile-menu-button" href="#mobile-menu">
        <i class="icon-menu2"><span>Menu</span></i>
      </a>

      <nav class="header-container">
        <!-- LOGO -->
        <%= link_to root_path do %>
          <%= image_tag("suitor.png", alt: "suitor", id: "logo") %>
        <% end %>

        <!-- MAIN NAVBAR -->
        <%= render "layouts/menu", device: "desktop" %>
      </nav>
    </header>

    <!-- PAGE CONTENT -->
    <div class="container">
      <%= render "layouts/messages" %>

      <% if blog_post? %>
        <%= render "blog/header" %>
      <% end %>

      <%= yield %>

      <% if blog_post? %>
        <%= render "blog/footer" %>
      <% end %>

    </div>
    <!-- END PAGE CONTENT -->

    <!-- SITE FOOTER -->
    <div class="block push"></div>
    <footer class="site-footer block">
      <div class="footer-container">
        <ul class="primary">
          <li><a href="http://twitter.com/mrsuitor"><i class="icon-twitter2"></i> Twitter</a></li>
          <li><a href="http://github.com/sarahsemark/suitor"><i class="icon-github"></i> GitHub</a></li>
          <li>
            <%= link_to blog_index_path do %>
              <i class="icon-blog"></i> Blog
            <% end %>
          </li>
          <li>
            <%= link_to about_path do %>
              <i class="icon-suitcase"></i> About
            <% end %>
          </li>
          <li>
            <%= link_to help_path do %>
             <i class="icon-help"></i> Help!
            <% end %>
          </li>
        </ul>

        <ul class="secondary">
          <li>
            <% if current_user %>
              <%= link_to "Log out", logout_path, method: 'delete', class: 'logout' %>
            <% else %>
              <%= link_to "Log in", login_path %>
            <% end %>
            </li>
          <li><a href="javascript:void(0)">Privacy Policy</a></li>
        </ul>

        </div>
    </footer>
    <!-- END SITE FOOTER -->

  </div>
  <!-- END PAGE-WRAPPER -->

</body>
</html>
