<!DOCTYPE html>
<html>
<head>
  <title>suitor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.png?v=5', type: 'image/png' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= image_tag("suitor.png", :alt => "suitor", :id => "logo") %>
  <%= yield %>
</div>

</body>
</html>
